body{
    padding:0;
    margin:0;
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#wrapper{
    background-color: aliceblue;
    display:flex;
    flex-direction:column;
   

}

#upperContainer{
    background-color: #04344C;
    height:150px;
    position:fixed;
   left:0;
    right:0;
    padding-bottom:50px;
}
#upperName{
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}

#nameFormat{
    font-family:poppins,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    vertical-align: center;
    padding-top:0px;
    color:whitesmoke;
    font-family:Alex Brush;
    font-size:60px;
   
}

#container{
    padding-top:160px;
    background-color: #9CC789;
    display:flex;
    flex-direction: row;
    height:auto;
}

#leftContainer{
    /*background-color: whitesmoke;*/
    background-color:aliceblue;
    flex:1;
    padding-left:100px;
   

}

#rightContainer{
    background-color: whitesmoke;
    flex:2;
    padding-right:100px;
    padding-left:50px;
}

i{
    font-size:20px;
    
 
}


/*https://www.cssmine.com/ebook/flexbox-container*/
/*https://www.careeraddict.com/digital-marketing-cv-examples-templates*/

